body,p,h1,h2,h3,h4,h5,img,ul,li {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input, textarea {
    outline: none;
}

.m-b {
    vertical-align: middle;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hide {
    display: none !important;
}


.flex {
    display: flex;
}

.flex-item {
    flex: 1;
}

.align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

